body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	padding-left: 20px;
	background: url(../images/ubuntu-bg.jpg);
	background-size: cover;
}

.clipboard-hide {
	overflow: hidden;
	position: absolute;
	right: 0;
	height: 100%;
	width: 15%;
}
.clipboard {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgb(12, 58, 92);
	right: -100%;
	box-shadow: 6px 1px 15px 8px rgba(0, 0, 0, 0.7);
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	z-index: 1;
}

.clipboard-hover {
	position: absolute;
	height: 100%;
	right: 0;
	width: 10px;
	background-color: transparent;
	z-index: 1000;
}

.folder {
	width: 100%;
	height: 75%;
	background: url(../images/folder.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.file {
	width: 100%;
	height: 100%;
	background: url(../images/file.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.pdf {
	width: 100%;
	height: 100%;
	background: url(../images/pdf.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.folder-stack {
	background-image: url(../images/folder_stack.png) !important;
	background-size: contain;
}

.empty-slot {
	width: 85%;
	color: #FFF;
	margin: 15px auto;
	text-align: center;
	border: dashed 2px #FFF;
	border-radius: 5px;
	padding: 4px;
	font-size: 18px;
	line-height: 30px;
}

.occupied-slot div{
	text-align: center;
	margin: 15px auto;
	background-size: contain;
	height: 50px;
	width: 50px;
}

.col {
	margin-top: 20px;
	width: 120px;
	float: left;
}

.location-holder {
	width: 70px;
	height: 70px;
}

.open-folder {
	width: 700px;
	height: 500px;
	position: absolute;
	background: #FFF;
	top: 20px;
	left: 270px;
	position: relative;
}

.open-folder .window-top {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.open-folder .window-left {
	height: 438px;
	left: 0;
	top: 57px;
	position: absolute;
}

.draggable-area-folder {
	width: 497px;
	position: absolute;
	right: 0;
	height: 440px;
	top: 57px;
}

.draggable-area-folder .location-holder {
	float: left;
	width: 50px;
	height: 50px;
}