body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	padding-left: 20px;
	background: url(../images/wallpaper.png);
	background-size: cover;
	overflow: hidden;
}

.transition-1s {
	transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	-ms-transition: 1s ease-in-out;
}

.transition-05s {
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
}

.clipboard-hide {
	overflow: hidden;
	position: absolute;
	right: 0;
	height: 100%;
	width: 15%;
}
.clipboard {
	position: absolute;
	height: 100%;
	width: 98%;
	background-color: rgba(12, 58, 92, 0.6);
	right: -100%;
	box-shadow: 13px 17px 17px 8px rgba(255, 255, 255, 1);
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	z-index: 10;
}

.clipboard-hover {
	position: absolute;
	height: 100%;
	right: 0;
	width: 10px;
	background-color: transparent;
	z-index: 1000;
}

.folder {
	width: 100%;
	height: 75%;
	background: url(../images/folder.png);
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.file {
	width: 100%;
	height: 100%;
	background: url(../images/file.png);
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.pdf {
	width: 100%;
	height: 100%;
	background: url(../images/pdf.png);
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.folder-stack {
	background-image: url(../images/folder_stack.png) !important;
	background-size: contain;
}

.empty-slot {
	width: 85%;
	color: #FFF;
	margin: 15px auto;
	font-size: 18px;
	line-height: 30px;
}

.occupied-slot div{
	text-align: center;
	margin: 15px auto;
	background-size: contain;
	height: 50px;
	width: 50px;
}

.col {
	margin-top: 20px;
	width: 120px;
	float: left;
	position: absolute;
	z-index: 2;
}

.location-holder {
	width: 70px;
	height: 70px;
	position: absolute;
	z-index: 2;
	margin-left: 20px;
}

.location-holder-folder {
	width: 70px;
	height: 70px;
}


.open-folder {
	width: 700px;
	height: 500px;
	position: absolute;
	background: #FFF;
	top: 20px;
	left: 270px;
	position: relative;
	display: none;
	z-index: 3;
}

.open-folder .window-top {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.open-folder .window-left {
	height: 438px;
	left: 0;
	top: 57px;
	position: absolute;
}

.draggable-area-folder {
	width: 475px;
	position: absolute;
	left: 220px;
	height: 440px;
	top: 73px;
}

.draggable-area-folder .location-holder-folder {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 15px;
}

.close-window {
	width: 15px;
	height: 15px;
	background: transparent;
	position: absolute;
	z-index: 1;
	top: 4px;
	left: 4px;
	cursor: pointer;
}

.popUpClipboard {
	position: absolute;
	width: 150px;
	height: 200px;
	background-color: rgba(12, 58, 92, 0.6);
	top: 0;
	left: 0;
	display: none;
	box-shadow: -5px 5px 23px -11px rgba(255, 255, 255, 1);
	z-index: 10000;
}

.popUpClipboard > div {
	text-align: center;
	margin: 15px auto;
	background-size: contain;
	height: 50px;
	width: 50px;
}

.drawing-marker {
	width: 12px; 
	height: 12px; 
	position: absolute;
	background-color: red;
	z-index: 123123;
}

.in-circle {
	z-index: 2000;
	width: 70px;
	height: 70px;
	position: absolute;
	right: 20px;
}

.file.in-circle, .folder.in-circle, .pdf.in-circle {
	height: 70px !important;
}

.location-holder .file, .location-holder .folder, .location-holder .pdf {
	width: 100%;
	height: 100%;
	position: static;
} 

.page-dimmer {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1500;
	top: 0;
	left: 0;
	opacity: 0;
}

.desktop-drop-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 1;
}

.context-menu {
	display: none;
	position: absolute;
	width: 170px;
	height: 78px;
	z-index: 1000000;
	background: transparent;
	background: #FFF;
}

.context-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.context-menu ul li {
	border-bottom: solid 1px gray;
	cursor: pointer;
	padding: 10px;
}

.context-menu ul li:hover {
	background-color: #6C849F;
	color: #FFF;
}